---
// Fundatoions
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShadowCard from "@/components/fundations/containers/ShadowCard.astro";
// Components
import ServiceCard from "@/components/services/ServiceCard.astro";
// Content
import { getCollection } from "astro:content";
const allServices = await getCollection("services");
allServices.sort((a, b) => a.data.service.localeCompare(b.data.service));
---

<section id="services" class="scroll-mt-24">
  <Wrapper variant="standard" class="border-t border-base-900">
    <ShadowCard class="bg-black">
      <div class="relative">
        <Text
          tag="h3"
          variant="textBase"
          class="text-base-400 font-thin font-mono uppercase"
        >
          Our services
        </Text>
      </div>
      <div class="flex flex-col mt-8 gap-2">
        {allServices.map((post) => <ServiceCard post={post} />)}
      </div>
    </ShadowCard>
  </Wrapper>
</section>
