---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="border-t border-base-900">
      <Text
        tag="h3"
        variant="textBase"
        class="text-white font-thin font-mono uppercase"
      >
        Colors
      </Text>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-2">
        <div class="flex flex-col gap-2">
          <Text
            tag="h3"
            variant="textXS"
            class="font-medium dark:text-white text-base-900 uppercase"
            >Accent</Text
          >
          <div class="grid grid-cols-4 gap-1 gap-y-8 mt-2">
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-50"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 50
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-100"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 100
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-200"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 200
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-300"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 300
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-400"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 400
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-500"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 500
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-600"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 600
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-700"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 700
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-800"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 800
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-blue-900"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 900
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div
                class="size-full aspect-square rounded-xl bg-blue-950 outline outline-blue-900"
              >
              </div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Accent 950
              </span>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <Text
            tag="h3"
            variant="textXS"
            class="font-medium dark:text-white text-base-900 uppercase"
            >Base</Text
          >
          <div class="grid grid-cols-4 gap-1 gap-y-8 mt-2">
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-50"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 50
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-100"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 100
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-200"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 200
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-300"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 300
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-400"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 400
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-500"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 500
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-600"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 600
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-700"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 700
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-800"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 800
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-full aspect-square rounded-xl bg-base-900"></div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 900
              </span>
            </div><div class="flex flex-col gap-2">
              <div
                class="size-full aspect-square rounded-xl bg-base-950 outline outline-base-900"
              >
              </div>
              <span class="text-xs dark:text-base-400 text-base-500"
                >Base 950
              </span>
            </div>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
