---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShadowCard from "@/components/fundations/containers/ShadowCard.astro";
---

<section>
  <Wrapper variant="standard" class="border-t border-base-900 py-4">
    <ShadowCard
      class="relative overflow-hidden flex flex-col justify-center bg-diamonds bg-cover bg-blend-overlay"
    >
      <div class="text-center py-24">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-white lg:text-balance md:col-span-2 font-thin tracking-tighter font-mono uppercase"
          >We are looking for great people to join our team</Text
        >

        <Button
          isLink
          href="/contact"
          size="sm"
          variant="default"
          class="mt-12 w-fit mx-auto"
        >
          Apply!
        </Button>
      </div>
    </ShadowCard>
  </Wrapper>
</section>
