---
// Fundatios
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShadowCard from "@/components/fundations/containers/ShadowCard.astro";

---

<BaseLayout hideNavigation={true} hideFooter={true}>
  <section>
    <Wrapper
      variant="standard"
      class="h-dvh lg:h-[calc(100dvh-4rem)] flex flex-col items-end border-t border-base-900"
    >
      <ShadowCard
        class="relative overflow-hidden flex flex-col bg-stripes justify-center w-full"
      >
        <div class="relative">
          <Text
            tag="h1"
            variant="displayMD"
            class="text-white lg:text-balance text-center font-thin tracking-tighter font-mono uppercase"
          >
            Sign in
          </Text>
          <form action="#" method="POST" class="mt-12 max-w-sm mx-auto">
            <div class="grid grid-cols-1 gap-x-4 gap-y-2 sm:grid-cols-2">
              <div class="sm:col-span-2">
                <label for="email" class="text-sm text-base-300">Email</label>
                <div class="mt-2.5">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    autocomplete="email"
                    class="block w-full h-12 px-4 py-2 text-sm text-white duration-300 bg-black/50 backdrop-blur-2xl border border-transparent rounded-xl appearance-none outline outline-base-900 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:outline-accent-500 focus:outline-offset-2 focus:outline-2 sm:text-sm"
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="password" class="text-sm text-base-300"
                  >Password</label
                >
                <div class="mt-2.5">
                  <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    class="block w-full h-12 px-4 py-2 text-sm text-white duration-300 bg-black/50 backdrop-blur-2xl border border-transparent rounded-xl appearance-none outline outline-base-900 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:outline-accent-500 focus:outline-offset-2 focus:outline-2 sm:text-sm"
                  />
                </div>
              </div>
              <div class="flex items-center justify-between py-4 sm:col-span-2">
                <div class="flex items-center gap-2">
                  <input
                    id="remember-me"
                    name="remember-me"
                    type="checkbox"
                    class="text-accent-500 rounded-full focus:ring-transparent outline outline-base-800 size-4 bg-base-900"
                  />
                  <label
                    for="remember-me"
                    class="font-medium text-sm block leading-tight ml-2 text-base-500"
                  >
                    Remember me
                  </label>
                </div>
                <Text
                  tag="a"
                  href="/forms/"
                  variant="textXS"
                  class="font-medium hover:text-base-500 text-white"
                >
                  Forgot your password?
                </Text>
              </div>
            </div>
            <div class="mt-4 flex items-center gap-2">
              <Button size="sm" variant="default" class="w-full">
                Sign in with google
              </Button>
              <Button size="sm" variant="accent" class="w-full">
                Submit
              </Button>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="leading-tight text-base-400 text-center mt-8"
            >
              Accountless?
              <a
                href="/forms/sign-up"
                class="text-white hover:text-base-400 ml-3"
              >
                Sign up now
              </a>
            </Text>
          </form>
        </div>
      </ShadowCard>
    </Wrapper>
  </section>
</BaseLayout>
