---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShadowCard from "@/components/fundations/containers/ShadowCard.astro";
const navLinks = [
  {
    title: "System Pages",
    links: [
      { label: "Links", url: "/system/links" },
      { label: "Colors", url: "/system/colors" },
      { label: "Buttons", url: "/system/buttons" },
      { label: "Typography", url: "/system/typography" },
    ],
  },
  {
    title: "Navigation",
    links: [
      { label: "Work", url: "/work/" },
      { label: "Services", url: "/services/" },
      { label: "Teams", url: "/team/" },
      { label: "Blog home", url: "/blog/" },
    ],
  },
  {
    title: "socials",
    links: [
      { label: "X", url: "#_" },
      { label: "Instagram", url: "#_" },
      { label: "GitHub", url: "h#_" },
      { label: "Dribbble", url: "#_" },
    ],
  },
];
---

<footer>
  <Wrapper variant="standard" class="border-t border-base-900">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <ShadowCard class="bg-black">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
          <nav>
            <ul role="list" class="grid grid-cols-2 gap-8 sm:grid-cols-3">
              {
                navLinks.map((section, index) => (
                  <li>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-mono uppercase text-white"
                    >
                      {section.title}
                    </Text>
                    <ul
                      role="list"
                      class="mt-4 text-sm text-base-400 flex flex-col gap-y-2"
                    >
                      {section.links.map((link) => (
                        <li>
                          <a
                            class="transition hover:text-white"
                            href={link.url}
                          >
                            {link.label}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </li>
                ))
              }
            </ul>
          </nav>
          <div class="flex lg:justify-end">
            <form class="max-w-sm">
              <Text
                tag="h2"
                variant="textSM"
                class="font-mono uppercase text-white"
              >
                Sign up for our newsletter
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 text-base-500 text-balance"
              >
                Subscribe to get the latest design news, articles, resources and
                inspiration.
              </Text>
              <div
                class="flex justify-center max-w-sm mx-auto flex-col gap-2 mt-4"
              >
                <label class="sr-only"> Email </label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  required
                  autocomplete="email"
                  aria-required="true"
                  aria-describedby="email"
                  placeholder="Your email"
                  class="block w-full px-4 py-2 h-12 text-sm text-white duration-300 bg-black border border-transparent rounded-xl appearance-none outline outline-base-900 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:outline-accent-500 focus:outline-offset-2 focus:outline-2 sm:text-sm"
                />
                <Button size="base" variant="default"> Apply! </Button>
              </div>
            </form>
          </div>
        </div><div
          class="mt-8 flex flex-wrap bg-stripes p-8 items-end justify-between gap-x-6 gap-y-4 border border-base-900 rounded-xl pt-12"
        >
          <a aria-label="hom" href="/">
            <Logo class="h-12 lg:h-40 text-white" />
          </a><p class="text-sm text-base-500">© Smax. 2025</p>
        </div>
      </ShadowCard>
    </div>
  </Wrapper>
</footer>
